name: pr

on:
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write
      contents: read
      actions: none
      id-token: none
      packages: none

    if: github.event.pull_request.head.repo.full_name == github.repository # Security: Only run on PRs from the same repository

    steps:
      - uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # keep it as `secrets.GITHUB_TOKEN` as repo is public and this token has limited privs
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: npm
      - uses: getsentry/action-setup-venv@v2.2.0
        with:
          venv-dir: venv
          cache-dependency-path: |
            requirements.txt
          install-cmd: pip install -r requirements.txt

      - uses: cycjimmy/semantic-release-action@v5
        id: semantic # need an `id` for output variables
        with:
          dry_run: true
          semantic_version: 24
          extra_plugins: |
            @semantic-release/exec@6.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # keep it as `secrets.GITHUB_TOKEN` as repo is public and this token has limited privs

  dependabot-approve-and-automerge:
    runs-on: ubuntu-latest
    needs: build-and-test
    timeout-minutes: 2
    permissions:
      pull-requests: write
      contents: write

    if: github.actor == 'dependabot[bot]'

    steps:
      - uses: dependabot/fetch-metadata@v2.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
