name: release

on:
  push:
    branches:
      - master

defaults:
  run:
    shell: bash

jobs:
  make-ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: write
      contents: write
      issues: read
      actions: none
      id-token: none
      packages: none
    if: github.repository == 'xhrdev/examples' # Security: Only run on pushes to the main repository

    outputs:
      new_release_version:   ${{ steps.semantic.outputs.new_release_version }}
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}

    steps:
      - uses: step-security/harden-runner@v2
        with:
          egress-policy: audit
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # keep it as `secrets.GITHUB_TOKEN` as repo is public and this token has limited privs
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - uses: getsentry/action-setup-venv@v3.2.0
        with:
          venv-dir: venv
          cache-dependency-path: |
            requirements.txt
          install-cmd: pip install -r requirements.txt

      - uses: cycjimmy/semantic-release-action@v6
        id: semantic # need an `id` for output variables
        with:
          dry_run: true
          semantic_version: 24
          extra_plugins: |
            @semantic-release/exec@6.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # keep it as `secrets.GITHUB_TOKEN` as repo is public and this token has limited privs
